{% extends "base.html" %}

{% block title %}Editar Texto: {{ text.name }}{% endblock %}

{% block content %}
    <h1>Editar Texto Pré-Pronto</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST">
        <label for="name">Nome do Layout:</label>
        <input type="text" id="name" name="name" required value="{{ text.name }}">
        <label for="content">Conteúdo do Texto (use <code>{saudacao}</code> e <code>{variavel}</code>):</label>
        <textarea id="content" name="content" rows="10" required>{{ text.content }}</textarea>
        <button type="submit" class="button">Atualizar Texto</button>
    </form>
    <a href="{{ url_for('index') }}" class="button back-button">Voltar</a>
{% endblock %}
