{% extends "base.html" %}

{% block title %}Seus Layouts de E-mail{% endblock %}

{% block content %}
    <h1>Seus Layouts de E-mail</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('add_text') }}" class="button">Adicionar Novo Layout</a>
    <div class="text-list">
        {% for text in texts %}
            <div class="text-item">
                <h2>{{ text.name }}</h2>
                <p>{{ text.content | truncate(150, True, '...', 0) }}</p>
                <div class="actions">
                    <a href="{{ url_for('generate_text', text_id=text.id) }}" class="button">Gerar</a>
                    <a href="{{ url_for('edit_text', text_id=text.id) }}" class="button edit-button">Editar</a>
                    <form class="delete-form" action="{{ url_for('delete_text', text_id=text.id) }}" method="POST">
                        <button type="submit" class="button delete-button" onclick="return confirm('Tem certeza que deseja excluir este texto?');">Excluir</button>
                    </form>
                </div>
            </div>
        {% else %}
            <p style="text-align: center;">Nenhum layout cadastrado ainda. <a href="{{ url_for('add_text') }}">Adicione o primeiro!</a></p>
        {% endfor %}
    </div>
{% endblock %}
